.App {
  text-align: center;
}
body {
  background-image: url("./img/pexels-henry-&-co-2341290.jpg");
}

.hero-image svg {
  margin-top: 5px;
  width: 20%;
  height: 20%;
  fill: rgb(245, 138, 138);
}

.hero {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  height: calc(50vh - 60px);
  text-align: center;
  position: relative;
}

.hero-title {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  height: calc(50vh - 60px);
  text-align: center;
  position: relative;
}

input {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 48px 0 rgb(0 0 0 / 20%);
  font-family: Hind, sans-serif;
  height: 64px;
  padding: 4px 48px 0 64px;
}

.mybutton {
  padding: 0 1rem 0 2rem;
  height: 64px;
  border-radius: 8px;
  box-shadow: 0 4px 48px 0 rgb(0 0 0 / 20%);
}
